@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    <form method="post" action="">
        <div>
            Input words, that you wanna concatenate. ATTENTION: every string should go after space
            <input type="text" name="Words" /><br />
            <br /><br />
            <input type="submit" value="Send" id="OK" />
        </div>
    </form>
</body>
</html>