@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Info</title>
</head>
<body>
    <div>
        Welcome! If you wanna concatenate words, press "OK"
        <p><a href="/Home/GetInfo">OK</a></p></>
    </div>
</body>
</html>